@using GCRBA.ViewModels
@model AdminVM

<div>
    <label for="categories" class="form-label">Select Category(s):</label>

    <select name="categories" class="form-control" multiple>
        @foreach (var item in Model.Categories)
        {
            <option value="@item.ItemID">@item.ItemDesc</option>
        }
    </select>
</div>
