@using GCRBA.ViewModels
@model AdminVM

<div>
    <label for="specials" class="form-label">Select a Special:</label>
    <select name="specials" class="form-control">
        @foreach (var item in Model.Specials)
            {
                <option value="@item.SpecialID">@item.strDescription</option>
            }
    </select>
</div>
