<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Add New Location Request</title>
    <style>
        td {
            vertical-align: top;
        }

        .center {
            margin-left: auto;
            margin-right: auto;
        }

        .tab {
            display: inline-block;
            margin-left: 40px;
        }
    </style>
</head>
<body>
    <!--<img src="htps://www.aspsnippets.com/images/Blue/Logo.png" /><br />-->
    <br />
    <div style="border-top: 3px solid #22BCE5">
        &nbsp;
    </div>
    <span style="font-family: Arial; font-size: 10pt;">
        Hello,

        There is a new location add request, see details:
    </span>
    <br />
    <table style="width: 600px; border: 1px solid black; text-align: left; vertical-align:top" class="center">
        <tr>
            <th>
                User Information
            </th>
        </tr>
        <tr>
            <td>
                User Full Name:
            </td>
            <td>
                {UserFullName}
            </td>
        </tr>
        <tr>
            <td>
                User Full Phone:
            </td>
            <td>
                {UserPhone}
            </td>
        </tr>
        <tr>
            <td>
                User Email:
            </td>
            <td>
                {UserEmail}
            </td>
        </tr>
    </table>
    <br />
    <table style="width: 600px; border: 1px solid black; text-align: left; vertical-align:top" class="center">
        <tr>
            <th>Location Information:</th>
        </tr>
        <tr>
            <td>
                Company Name:
            </td>
            <td colspan="2">
                {CompanyName}
            </td>
        </tr>
        <tr>
            <td>
                Location Name:
            </td>
            <td colspan="2">
                {LocationName}
            </td>
        </tr>
        <tr>
            <td>
                Address:
            </td>
            <td colspan="2">
                <b>{Address} {City}, <br /> {State} {Zip}</b>
            </td>
        </tr>
        <tr>
            <td>
                Business Information:
            </td>
            <td colspan="2">
                <p>Business Phone: {BizPhone}</p>
                <p>Business Email: {BizEmail}</p>
                <p>Business Year: {BizYear}</p>
                <p>Business Bio: {BizBio}</p>
            </td>
        </tr>
        <tr>
            <td>
                Schedule:
            </td>
            <td>
                Sunday:      <br />
                Monday:      <br />
                Tuesday:     <br />
                Wednesday:   <br />
                Thursday:    <br />
                Friday:      <br />
                Saturday:    <br />
            </td>
            <td>
                {SundayStart} - {SundayEnd} <br />
                {MondayStart} - {MondayEnd} <br />
                {TuesdayStart} - {TuesdayEnd} <br />
                {WednesdayStart} - {WednesdayEnd} <br />
                {ThursdayStart} - {ThursdayEnd} <br />
                {FridayStart} - {FridayEnd} <br />
                {SaturdayStart} - {SaturdayEnd} <br />
            </td>
        </tr>
        <tr>
            <td>
                Categories:
            </td>
            <td>
                Donuts: <br />
                Bagels: <br />
                Muffins: <br />
                Ice Cream: <br />
                Fine Candies & Chocolates:  <br />
                Wedding Cakes: <br />
                Breads: <br />
                Decorated Cakes: <br />
                Cupcakes: <br />
                Cookies: <br />
                Desserts/Tortes: <br />
                Full-line Bakery: <br />
                Deli Catering: <br />
                Other Deli Carryout: <br />
                Wholesale: <br />
                Delivery (3rd Party): <br />
                Shipping: <br />
                Online Ordering: <br />
            </td>
            <td>
                {DonutStatus} <br />
                {BagelStatus} <br />
                {MuffinStatus} <br />
                {IceCreamStatus} <br />
                {FineCandiesStatus} <br />
                {WeddingCakeStatus} <br />
                {BreadStatus} <br />
                {DecoratedCakeStatus} <br />
                {CupcakeStatus} <br />
                {CookieStatus} <br />
                {DessertStatus} <br />
                {FullStatus} <br />
                {DeliStatus} <br />
                {OtherStatus} <br />
                {WholesaleStatus} <br />
                {DeliveryStatus} <br />
                {ShippingStatus} <br />
                {OnlineStatus} <br />
            </td>
        </tr>
        <tr>
            <td>
                Location Contact:
            </td>
            <td>
                Type:<br />
                Name: <br />
                Email: <br />
                Phone: <br />
            </td>
            <td>
                {LocationContactType} <br />
                {LocationContactName} <br />
                {LocationContactEmail} <br />
                {LocationContactPhone} <br />
            </td>
        </tr>
        <tr>
            <td>
                Customer Service Contact:
            </td>
            <td>
                Type: <br />
                Name: <br />
                Email: <br />
                Phone: <br />
            </td>
            <td>
                {CustServiceContactType} <br />
                {CustServiceContactName} <br />
                {CustServiceContactEmail} <br />
                {CustServiceContactPhone} <br />
            </td>
        </tr>
        <tr>
            <td>
                Web Admin Contact:
            </td>
            <td>
                Type: <br />
                Name: <br />
                Email: <br />
                Phone: <br />
            </td>
            <td>
                {WebAdminContactType} <br />
                {WebAdminContactName} <br />
                {WebAdminContactEmail} <br />
                {WebAdminContactPhone} <br />
            </td>
        </tr>
        <tr>
            <td>
                Websites:
            </td>
            <td>
                Main Page Type: <br />
                Main Page URL: <br />
                <br />    
                Ordering Page Type: <br />
                Ordering Page URL: <br />
                <br />
                Kettle Page Type: <br />
                Kettle Page URL: <br />
            </td>
            <td>
                {MainWebType} <br />
                {MainWebURL} <br />
                <br />
                {OrderingWebType} <br />
                {OrderingWebURL} <br />
                <br />
                {KettleWebType} <br />
                {KettleWebURL} <br />
            </td>
        </tr>
        <tr>
            <td>
                Social Media:
            </td>
            <td>
                Facebook - {FacebookAvailable} <br />
                Instagram - {InstagramAvailable} <br />
                Twitter - {TwitterAvailable} <br />
                TikTok - {TikTokAvailable} <br />
                Snapchat - {SnapchatAvailable} <br />
                Yelp - {YelpAvailable} <br />
            </td>
            <td>
                {FacebookURL} <br />
                {InstagramURL} <br />
                {TwitterURL} <br />
                {TikTokURL} <br />
                {SnapchatURL} <br />
                {YelpURL} <br />
            </td>
        </tr>
    </table>
        <br />
        <span style="font-family: Arial; font-size: 10pt">
            
       
        <br />
        <a style="color: #22BCE5" href="{Url}"><button>Return to Admin Portal</button></a><br />
        {Description}
        <br />
        <br />
        Thanks,<br />
        GCRBA Web App
        </span>
</body>
</html>