
<div id="user-tab-menu" class="tab">
	<button id="bakery-index" class="tablinks" onclick="location.href = '@Url.Action("Index", "Bakery")';"><i class="fa-solid fa-ice-cream"></i> Search By Category</button>
	<button id="bakery-map" class="tablinks" onclick="location.href = '@Url.Action("Map", "Bakery")';"><i class="fa-solid fa-location-dot"></i> Search By Location</button>
</div>