
@model GCRBA.Models.Recovery

@{
	ViewBag.Title = "RecoverPassword";
	Layout = null;
}
<body onload="checkEmail()">
	<input type="hidden" value=@Model.Email id="hiddenEmail" />
	@if (Model.actionType == GCRBA.Models.Recovery.ActionTypes.NoEmailFound) {
		<div class="login-error">
			<i class="fa-solid fa-triangle-exclamation fa-xl"></i>
			Sorry, no matching username-password combination recorded with email: @Model.Email
		</div>
	}

	<form method='post' action='/Profile/RecoverPassword' onsubmit=checkAgain()>
		<h1>Password Recovery</h1>
		<br>
		<p>Please enter the email associated to this account below</p>
		<br>
		<label>Email Address:</label><input type='text' id='recoverPasswordByEmail' name='recoverPasswordByEmail' />
		<br><br>
		<button name='btnSubmit' value='submit' class='mt - 2 mb - 2'>Submit</button>
	</form>
</body>

<script>
	var hiddenEmail = document.getElementById('hiddenEmail').value;

	function checkEmail() {
		if (hiddenEmail != null && hiddenEmail != "") {
			alert('Thank you! A temporary login code has been sent to ' + hiddenEmail);
			window.close();
		}
	}

	function checkAgain() {
		window.location.reload();
	}
</script>

