<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Recover Password</title>
	<style>
		td {
			vertical-align: top;
		}

		.center {
			margin-left: auto;
			margin-right: auto;
		}

		.tab {
			display: inline-block;
			margin-left: 40px;
		}
	</style>
</head>
<body>
	<br />
	<div style="border-top: 3px solid #22BCE5">
		&nbsp;
	</div>
	<span style="font-family: Arial; font-size: 10pt;">
		Hello,

		There has been a request for the password associated with this email, please enter <b>2 hour</b> temporary passcode to reset password:
	</span>
	<br />
	<table style="width: 600px; border: 1px solid black; text-align: left; vertical-align:top" class="center">
		<tr>
			<th>
				User Information
			</th>
		</tr>
		<tr>
			<td>
				Temporary Passcode:
			</td>
			<td>
				{TemporaryPasscode}
			</td>
		</tr>
	</table>
	<br />
	<span style="font-family: Arial; font-size: 10pt">


		<br />
		<a style="color: #22BCE5" href="{Url}"><button>Return to Login Portal</button></a><br />
		{Description}
		<br />
		<br />
		Thanks,<br />
		GCRBA Web App
	</span>
</body>
</html>
