@using GCRBA.ViewModels
@model AdminVM

@{
    ViewBag.Title = "Delete Company";
}

<h2>@ViewBag.Title</h2>

@if (Model.User.isAdmin == 0) 
{
    <p>This page is for admins only. If you are an admin, please log in and try again.</p>
}
else 
{
    if (Model.Company != null) 
    {
        if (Model.Company.ActionType == GCRBA.Models.Company.ActionTypes.DeleteSuccessful) 
        {
            @Html.Partial("UpdateSuccessful");
		}
	}

	using (Html.BeginForm(null, null, null, FormMethod.Post, new { @class = "mx-auto w-100" }))
	{
<div class="d-inline-flex mt-3 row mx-auto">
	<label for="companies">Select a company to delete from the GCRBA website</label>

	<select name="companies">
		@foreach (var item in Model.Companies)
		{
			<option value="@item.CompanyID">@item.Name</option>
		}
	</select>
    <div class="row">
		<div class="col">
			<button name="btnSubmit" value="delete" class="button-action mt-3">Delete Company</button>
			<button name="btnSubmit" value="cancel" class="button-action mt-3">Return to Admin Portal</button>
		</div>
    </div>
</div>
    }
}