@model GCRBA.Models.User

@{
	ViewBag.Title = "Admin Portal";
}


@if (Model.isAdmin == 0)
{
	@Html.Partial("AdminOnly");
} else
{
	using (Html.BeginForm(FormMethod.Post))
	{

		if (Model.AdminNotification.UnreadNotifications == true)
		{
			<div class="w-100 text-start mt-4">
				<button id="notification" name="btnSubmit" value="viewNotifications" class="btn btn-link">New Notification(s) <i class="fa-solid fa-circle-exclamation"></i></button>
			</div>
		} else
		{
			<div class="w-100 text-start mt-4">
				<button id="notificationNoUnread" name="btnSubmit" value="viewNotifications" class="btn btn-link">Notifications</button>
			</div>
		}

		<h2>@ViewBag.Title</h2>

		<div class="container w-75">
			<button name="btnSubmit" value="viewLocationRequests">View Location Requests</button>
			<button name="btnSubmit" value="viewMembershipRequests">View Membership Requests</button>
			<button name="btnSubmit" value="editMainBanner">Edit Homepage</button>
			<button name="btnSubmit" value="editCompanies">Edit Companies</button>
		</div>
	}
}



