@model GCRBA.Models.AdminRequestList

@{
	ViewBag.Title = "Location Requests";
}

<style>
	td {
		text-align: center;
	}
</style>

@using (Html.BeginForm(FormMethod.Post)) {
	GCRBA.Models.User user = new GCRBA.Models.User();
	GCRBA.Models.Database db = new GCRBA.Models.Database();
	user = user.GetUserSession();

	if (user.isAdmin == 0) {
		@Html.Partial("AdminOnly");
		//<p>This page is for admins only. If you are an admin, please log in and try again.</p>
	}
	else {
		if (Model.SelectedAdminRequests.Length > 0) {
			<br />
			<table>
				<tr>
					<td>
						<div class="container w-75">
							<h2>@ViewBag.Title</h2>
							@Html.ListBoxFor(model => model.SelectedAdminRequests, Model.AdminRequests, new { style = "width: 600px" }) <br /><br />
							<button class="button-action" name="btnSubmit" value="approve">Approve</button> <button class="button-action" name="btnSubmit" value="deny">Decline</button>
							<br />
							<br />
						</div>
					</td>
				</tr>
			</table>
		}
		else {
			<p>There are currently no membership requests.</p>
		}
	}
}

