
@{
	ViewBag.Title = "Education Main Portal";
}

<div id="site-banner">
	<h2>@ViewBag.Title</h2>
	<p>This is where the main portal for the education section will go.</p>
</div>

<script>
$(document).ready(function () {
		SetActiveMenus('education');
});
</script>